.homeContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.title{
  font-size: 3rem;
  margin: 60px 0 10px;
  color: var(--text-primary);
}

.subtitle{
  margin-bottom: 50px;
  font-weight: 400;
  color: var(--text-primary);
}

.titleItalic{
  font-style: italic;
  color: var(--accent-color);
}

.servicesContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.serviceCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  padding: 20px;
  width: 300px;
  background-color: var(--bg-card);
  border-radius: 15px;
  border: 1px solid var(--card-border);
  overflow: hidden;
  transition: transform 0.1s ease-in-out ;
}


.serviceCard:hover{
  transform: scale(1.03);
  background-color: var(--bg-card-hover);
  border-color: var(--card-border-hover);
}

.serviceTitle{
  color: var(--text-primary);
}

.serviceSubtitle{
  color: var(--text-secondary);
}

.serviceIcon{
  font-size: 2rem;
  display: block;
  z-index: 2;
  color: var(--accent-color);
}

.iconWrapper{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.iconWrapper::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-icon);
  border-radius: 50%;
}

