.postcodesContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.postcodesContainer a{
  text-decoration: none;
}

.wilayaCard{
  background-color: #fff;
  color: #1F2131;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 1px solid #dbdbdd;
  padding: 10px;
  border-radius: 10px ;
  transition: 0.2s ease-in-out;
  width: 200px;
}

.name{
  color: #568376
}
.codeAndName{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 5px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}


.wilayaCard:hover{
  background-color: #e6e6e6a7;
  border-color: #cecccc;
}

.wilayaCard .reactSvg svg path{
  fill: #a8acab;
  width: 25px;
  height: 25px;
}

.wilayaCard .reactSvg svg{
  width: 30px;
  height: 30px;
  margin: 5px;
}
.code{
  background-color: #EDF7F4;
  color: #568376;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 5px;
}

.statsContainer{
  font-size: 0.8rem;
}

.statsContainer span{
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 3px;
  color: #64748B;
}

.statIcon{
  color: #94A3B8;
  font-size: 0.7rem;
}
