.title{
  text-align: center;
  color: var(--text-primary)
}

.tablesContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px
}

.tableTitle{
  text-align: center;
  color: var(--text-primary)
}

thead{
  color: #fff;
  background-color: #398e74;
}

.ratesTable tr:nth-child(even){
  background-color: #97d4b5;
}


table{ 
  border-collapse: collapse; /* Merges adjacent borders into a single clean line */
}

th, td{
  padding: 3px 5px;
}

th:first-child,
td:first-child{
  text-align: left;
}

.ratesTable td:last-child{
  text-align: right ;
}

th:not(:first-child),
td:not(:first-child) {
  text-align: center;
}