.wilayaPostcodesPage {
  /* background-color: #f00; */
}
.wilayaStatsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.title {
  color: var(--text-primary);
}
.svgWrapper {
  width: 100px;
  height: 100px;
  position: relative;
}

.reactSvg svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  overflow: visible;
}
.reactSvg svg path {
  fill: none;
  width: 25px;
  height: 25px;
  /* stroke-width: 1.3px; */
  stroke-width: 2px;
  vector-effect: non-scaling-stroke;
  stroke: var(--accent-color);
}

.postcodesTable {
  margin: 0 auto;
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  gap: 2px;
  /* width: 100%; */
  width: 90vw;
}
.header {
  font-weight: bold;
  background-color: transparent;
  /* text-align: center; */
}
.row {
  display: grid;
  grid-template-columns: 150px 1fr 1fr;
  /* grid-template-columns: repeat(4, 1fr);  */
  align-items: center;
  padding: 12px;
  background-color: var(--bg-card);
  /* border: 1px solid var(--card-border); */
  border-radius: 8px;
}


.postcode {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 999px;
  padding: 5px 7px;
  text-align: center;
  width: 80px;
}

.actionBtns{
  display: flex;
  align-items: center;
  gap: 20px;
}

.copyBtn, .detailsBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 1rem;
  width: fit-content;
  color: var(--text-primary);
  background-color: var(--bg-card);
  font-family: inherit;
  text-decoration: none;
  border: none;
  padding: 5px 7px;
  border:1px solid var(--accent-color);
  border-radius: 999px;
  cursor: pointer;
}

.copyBtn:hover, .detailsBtn:hover{
  color: var(--accent-color);
  transition: color 0.2s ease-in-out;
  /* color: #f00; */
}