.wilayaPostcodesPage{
  /* background-color: #f00; */
}

.postcodesContainer{
  /* width: 80vw; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 10px;
  gap: 10px;
  flex-wrap: wrap;
}

.postcodeCard{
  min-width: 100%;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #dbdbdd;
  border-radius: 10px;
}

.postcode{
  display: block;
  color: #48A98C;
  border: 1px dashed #48A98C;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2rem;
}

.communeAndDaira{
  /* text-align: center; */
  display: block;
  font-weight: 600;
  margin: 10px 0;

}