.mapWrapper {
  width: 45vw;
  margin: 0 auto;
  transition:
    width 0.2s ease,
    transform 0.2s ease;
}

.northViewWrapper {
  width: 80vw;
}

.mapWrapper path {
  fill: transparent;
  pointer-events: all;
  /* stroke: #1b382b; */
  stroke: var(--map-stroke);
  stroke-width: 2;
  transition:
    opacity 0.2s ease,
    stroke-width 0.2s ease;
  fill: var(--map-color-4);
}

.mapWrapper path:hover {
  /* opacity: 0.85; */
  stroke-width: 3.5;
  fill: rgb(128, 168, 126);
  
}

/* Cycling pastel palette across wilayas */
/* .mapWrapper path:nth-child(7n + 1) {
  fill: var(--map-color-1);
}
.mapWrapper path:nth-child(7n + 4) {
  fill: var(--map-color-4);
}
.mapWrapper path:nth-child(7n + 2) {
  fill: var(--map-color-2);
}
.mapWrapper path:nth-child(7n + 6) {
  fill: var(--map-color-6);
}
.mapWrapper path:nth-child(7n + 3) {
  fill: var(--map-color-3);
}
.mapWrapper path:nth-child(7n + 5) {
  fill: var(--map-color-5);
}
.mapWrapper path:nth-child(7n + 7) {
  fill: var(--map-color-7);
} */

/* .mapWrapper path{
  fill: var(--map-color-5)
} */
.toggleContainer {
  margin: 12px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #398e73; */
  background-color: gray;
  color: #fff;
  border-radius: 999px;
  width: fit-content;
  padding: 5px 10px;
}

.switchLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}

.switchLabelCheckbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
/* 
.svgMap {
  width: 100%;
  height: auto;
  transition: viewBox 0.3s ease-in-out;
} */
