.navbarContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* outline: 1px solid #f00; */
  padding:20px 40px 20px 40px;
  background-color: transparent;
}

.navbarContainer a{
  text-decoration: none;
}

.logo{
  font-weight: 600;  
}

.linksContainer{
  display: flex;
  list-style-type: none;
  font-weight: 600;
  font-size: 0.9rem;
}


.linksContainer li{
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #dbdbdd;
  border-radius: 20px;
}

.linksContainer li a{
  color: #1F2131;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 9px 15px;
  border-radius: 20px;
}

.linksContainer li a:hover{
  background-color: #e6e6e6a7;
  transition: 0.15s ease-in-out all;
  
}

.linksContainer li:hover{
  border-color: #cecccc;
}

.linksContainer li a:active{
  color: #1F2131;
}