.container {
  display: flex;
  align-items: center;
  width: 96vw;
  gap: 5px;
  margin-bottom: 100px;
  margin: 60px auto 30px;
}

.inputWrapper {
  position: relative;
  width: 100%;
  /* outline: 1px solid #f00; */
}

.searchInput {
  display: block;
  font-family: inherit;
  width: 100%;
  font-size: 1rem;
  border-radius: 999px;
  padding: 20px 15px;
  color: var(--text-primary);
  border: 1px solid;
  border-color: var(--card-border);
  background-color: var(--bg-card);
  outline: none;
}

.searchInput:hover {
  background-color: var(--bg-card-hover);
  border-color: var(--card-border-hover);
  transition:
    border-color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}
.searchInput:focus {
  background-color: var(--bg-card);
  border-color: var(--accent-color);
}

.selectWrapper {
  min-width: 230px;
  position: relative;
  user-select: none;
}

.wilayaSelect {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-primary);
  background-color: var(--bg-card);
  border: 1px solid var(--card-border);
  width: 100%;
  padding: 20px 15px;
  border-radius: 999px;
  cursor: pointer;
}

.wilayaSelect:hover {
  background-color: var(--bg-card-hover);
  border-color: var(--card-border-hover);
  transition:
    border-color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

.wilayaSpan{
  width: 100%;
  text-align: center;
}

.optionsMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--bg-card);
  border: 1px solid var(--card-border);
  height: 300px;
  width: 100%;
  overflow-y: auto;
  border-radius: 10px;
}

.wilayaOption {
  color: var(--text-primary);
  background-color: var(--bg-card);
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.wilayaOption:hover {
  background-color: var(--bg-card-hover);
}

.searchResults {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: var(--text-primary);
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  background-color: var(--bg-card);
  border: 1px solid var(--card-border);
  border-radius: 10px;
  margin-top: 2px;
  z-index: 4;
}

.searchResult {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid var(--card-border);
}

.searchResult:last-child {
  border-bottom: none;
}

.wilayaName {
  font-size: 0.9rem;
  /* outline: 1px solid #f00; */
  max-width: fit-content;
  color: var(--text-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.wilayaName .locationIcon {
  color: var(--text-secondary);
  font-size: 0.75rem;
}

.postcode {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--accent-color);
  min-width: 70px;
  border-radius: 999px;
  padding: 5px;
  color: var(--accent-color);
}

.noResults {
  color: var(--text-secondary);
  padding: 20px;
  text-align: center;
}
