.container {
  display: flex;
  align-items: center;
  width: 100%;
  outline: 1px solid #f00;
  gap: 5px;
  margin-bottom: 100px;
}

.inputWrapper{
  position: relative;
  width: 80vw;
  outline: 1px solid #f00;
}

.searchInput {
  display: block;
  font-family: inherit;
  width: 100%;
  font-size: 1rem;
  border-radius: 999px;
  padding: 20px 15px;
  color: var(--text-primary);
  border: 1px solid;
  border-color: var(--card-border);
  background-color: var(--bg-card);
  outline: none;
}

.searchInput:hover {
  background-color: var(--bg-card-hover);
  border-color: var(--card-border-hover);
  transition:
    border-color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}
.searchInput:focus {
  background-color: var(--bg-card);
  border-color: var(--accent-color);
}

.wilayaSelect {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  color: var(--text-primary);
  background-color: var(--bg-card);
  border: 1px solid var(--card-border);
  height: 100%;
  padding: 20px 15px;
  border-radius: 999px;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
}

.wilayaSelect:focus{
  outline: none;
}

.wilayaOption{
    -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  color: var(--text-primary);
  background-color: var(--bg-card);
  border: 1px solid var(--card-border);
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
}
.searchResults {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: var(--text-primary);
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  max-height: 300px;
  overflow-y: auto;
  background-color: var(--bg-card);
  border: 1px solid var(--card-border);
  border-radius: 10px;
  margin-top: 2px;
  z-index: 4;
}

.searchResult {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid var(--card-border);
}

.searchResult:last-child {
  border-bottom: none;
}

.wilayaName {
  font-size: 0.9rem;
  /* outline: 1px solid #f00; */
  max-width: fit-content;
  color: var(--text-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.wilayaName .locationIcon {
  color: var(--text-secondary);
  font-size: 0.75rem;
}

.postcode {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--accent-color);
  min-width: 70px;
  border-radius: 999px;
  padding: 5px;
  color: var(--accent-color);
}

.noResults {
  color: var(--text-secondary);
  padding: 20px;
  text-align: center;
}
